<%- include('header') %>
 
 <div class="container mt-6 pt-6">
  <% if(user){ %>
     
    <h1 class="title has-text-centered  is-block">You are already logged In.</h1>
    <% } else {%>
  <form action="/signin" method="post">
    <h1 class="title has-text-centered  is-block"><%= title %></h1>
    <p class="has-text-centered   has-text-danger">Once you sign in, you will remain signed in for 1 MINUTE. This is the expiration time of JWT and cookie we set. It can be changed.</p>

    <div class="field">
      <label class="label" for="username">Email</label>
      <input class="input" type="email" name="username" id="username">
    </div>

    <div class="field">
      <label class="label" for="password">Password</label>
      <input class="input" type="password" name="password" id="password">
    </div>

    <button type="submit" class="button  is-fullwidth is-primary">Login</button>
  </form>
  <% } %>
</div>


<%- include('footer') %>